body {
	font-family: 'Apercu', 'Roboto', 'Work Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	background-color: #CB9874;
	color: #232323;

}

.shapes {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-image: url("images/background_shapes.svg");
	background-size: cover;
	background-position: center center;
}

h1 {
	font-size: 36px;
	text-align: center;
	font-family: 'Esteban', Georgia, serif;
	line-height: 1.2;
}

h2 {
    font-family: "esteban", georgia, serif;
    font-size: 36px;
    padding-bottom: 16px;
    text-align: center;
}

h3 {
	font-size: 20px;
	text-align: center;
	font-family: 'Esteban', Georgia, serif;
	line-height: 1.2;
}

ul {
	width: calc(50% - 24px);
    list-style-type: circle;
    list-style-position: outside;
}

li {
	padding-bottom: 16px;
}

header,
section {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

button.CTA {
  margin: 40px 0;
}

header {
	min-height: 95vh;
	max-width: 1080px;
	text-align: center;
	padding-top: 120px;
	padding-bottom: 120px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}

header img {
	width: 50vw;
	margin-bottom: 64px;
}

.illustration {
/*	background-color: #ededed;*/
	height: 350px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.ctablock {
	font-size: 24px;
}

.ctablock button {
	margin: 40px 0 0 0;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
	min-height:95vh;
	display: flex;
	align-items:center;
}

.container {
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}

.container > div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.container > div:last-child {
	margin-bottom: 0px;
}

.container > div:nth-of-type(even){
	flex-direction: row;
}

.about p {
	width: calc(50% - 24px);
}

.container .illustration {
	width: calc(50% - 24px);
}

.about {
	background-color: #E6D1C3;
	position: relative;
}

.valueprops {
	background-color: #6F6150;
	top: -95vh;
}

.vpcopyblock {
	width: calc(50% - 24px);
	display: flex;
    align-content: center;
    flex-direction: column;
}

.form {
	background-color: #F0CABC;
	padding-bottom: 24px;
	background-image: url("images/background_shapes.svg");
	background-size: cover;
	background-position: center center;
}

.form form {
	margin: auto;
	max-width: 325px;
}

.form h4 {
	font-size: 36px;
	line-height: 54px;
	text-align: center;
	margin-bottom: 40px;
	max-width: 700px;
    margin: 0 auto;
}

.form .container {
	width: 100%;
}

.form h3 {
    width: 100%;
    margin-top: 80px;
}

.accessimg {
	background-image: url("images/octave_access.png");
}

.approachimg {
	background-image: url("images/octave_approach.png");
}

.therapyimg {
	background-image: url("images/octave_therapy.png");
}

.coachimg {
	background-image: url("images/octave_coaching.png");
}

.classesimg {
	background-image: url("images/octave_classes.png");
}

@media screen and (max-width: 1080px) {
	section {
		padding: 64px 64px;
	}
}

@media screen and (max-width: 700px) {

	header,
	section {
		position: relative;
	}

	header {
		padding: 80px 32px;
	}

	header img {
		width: 80vw;
		margin-bottom: 32px;
	}

	.ctablock {
		font-size: 16px;
	}

	button {
		padding: 12px 32px;
	}

	h1 {
		font-size: 24px;
	}

	h3 {
		font-size: 24px;
	}

	section {
		padding: 64px 80px;
	}

	ul {
		width: 100%;
		text-align: center;
		list-style-type: none;
		padding-bottom: 24px;
	}

	.valueprops {
		top: unset;
	}

	.vpcopyblock {
		width: 100%;
	}

	.container .illustration {
		width: 100%;
		margin-bottom: 40px;
	}

	.container > div {
	    display: block;
	}

	.container > div:last-child {
		margin-bottom: 0px;
	}

	.container > div p {
		width: 100%;
		margin-bottom: 80px;
		text-align: center;
	}
}

.airtable iframe {
	border: 1px solid #ccc;
	background: transparent;
}

.referralHeader {
	flex-wrap: wrap;
    flex-direction: column;
}

.referralHeader img {
	width: 210px;
	margin-bottom: 80px;
}

.referralHeader h3 {
	font-size:36px;
	margin-bottom: 80px;
}

.referralHeaderCopy {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.referralHeaderCopyMain {
	width: calc(60% - 48px);
}

.referralHeader p {
	margin-bottom: 24px;
}

.referralHeader ul {
	width: calc(40% - 48px);
	font-size: 18px;
	font-family: 'Esteban', Georgia, serif;
	list-style-type: circle;
    list-style-position: outside;
}

@media screen and (max-width: 450px) {
	section {
		padding: 64px 32px;
	}
}

@media screen and (max-width: 800px) {
	.referralHeader img {
		margin-bottom: 40px;
	}

	.referralHeader h3 {
		margin-bottom: 40px;
		font-size: 21px;
	}

	.form h4 {
		font-size: 21px;
		line-height: 1.4;
	}

	.referralHeaderCopy {
		flex-direction: column;
	}

	.referralHeaderCopyMain {
		width: 100%;
		font-size: 21px;
	}

	.referralHeaderCopy ul {
		width: 100%;
		color:white;
		list-style-type: none;
		list-style-position: unset;
		text-align: center;
	}

	.referralHeaderCopy li {
		padding: 21px 0px;
		border-bottom: 1px solid white;
	}

	.referralHeaderCopy li:last-child {
		border-bottom: none;
	}
}

@media screen and (min-width: 700px) and (max-height: 500px) {
	header,
	section {
		position: relative;
	}

	.valueprops {
		top: unset;
	}
}
